<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4 class="alert-heading"><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h4>
      <hr>

      <ul>
        <% image.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :picture, class: "form-label" %>
    <%= form.file_field :picture, accept: "image/jpg,image/gif,image/png", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>