<p style="color: green"><%= notice %></p>

<% content_for :title, "Images" %>

<h1 class="h4">Images</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.name %></td>
        <td>
          <%= link_to image_tag(image.picture.url, width: 100), image_path(image) if image.picture? %>  
        </td>
        <td>
          <%= link_to "Edit", edit_image_path(image), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to "Delete", image_path(image),
              class: "btn btn-sm btn-outline-danger",
              data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-3">
  <%= link_to "New image", new_image_path %>
</div>
